body{
    margin: 0;
}

h1, h2 ,h3, h4, h5, h6{
    margin: 0;
}

#txt{
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
    font-size: 24px;
}

header{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.table{
    border: 1px solid #c0c1c2;
    border-collapse: collapse;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.table thead tr{
    color: #fff;
    background-color: #2a3644;
    font-family: "Arial";
}

.table tbody tr{
    color: #000;
    background-color: #f2f2f2;
    font-family: "Arial";
}

#iii{
    text-align-last: left;
    padding:  0 0 0 20px;
}

.table tbody tr:hover{
    color: #000;
    background-color: #c0c1c2;
    border: none;
}

#dxd{
    color: #000;
    background-color: #e8e8e8;  
}

#dxd:hover{
    color: #000;
    background-color: #c0c1c2;
    border: none;
}

.table thead th{
    border: 1px solid #3f4852;
    padding: 15px 0;
}

.table tbody td{
    border: 1px solid #c0c1c2;
    padding: 15px 0;
    font-size: 16px;
}

#number{
    text-align: right;
    padding: 0 20px 0 0;
}

#name{
    text-align: left;
    padding: 0 0 0 20px;
}

#numbers{
    text-align: center;
}